<%= render "shared/errors", obj: @entry %>
<table>
  <tr>
    <th>タイトル</th>
    <td><%= form.text_field :title, size: 50 %></td>
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_field :body, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :posted_at, for: "entry" %></th>
    <td><%= form.datetime_select :posted_at,
    start_year: 2000, end_year: Time.now.year + 1,
    use_month_numbers: true %></td>
  </tr>
  <!-- <tr>
    <th><%= form.label :user_id %></th>
    <td><%= form.text_field :user_id %></td>
  </tr> -->
</table>
