<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <%= render "shared/header" %>
      </div>

      <div id = "content">
        <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
        <% end %>
        <%= yield %>
      </div>　

      <div id = "sidebar">
        <%= render "shared/sidebar"%>
      </div>

    </div>
    <!-- <p><%= yield %></p> -->
  </body>
</html>
